#{extends 'main.html' /}
#{set title:'Cron Creator' /}

<div class="page-header">
    <h1>Create new poller job</h1>
</div>

#{form @Application.postCreateCron()}
		<fieldset>
				<h3>Service To Poll</h3>
				<div class="clearfix">
        			<label for="wsdlURL">WSDL URL</label>
        			<div class="input">
        				<input type="text" name="wsdlURL" id="wsdlURL" class="xlarge" size="50"/>
        			</div>
        		</div>
        		<div class="clearfix">
        			<label for="servicename">Operation QName</label>
        			<div class="input">
        				<input type="text" name="operation" id="operation" class="xlarge" size="50"/>
        			</div>
        		</div>
        		
        		<div class="clearfix">
        		<label for="message">XML Input message</label>
        			<div class="input">
        				<textarea name="message" id="message" class="xlarge"></textarea>
        			</div>
        		</div>
        		
        		<h3>Topic to publish message to</h3>
				<div class="clearfix">
        			<label for="topicname">Topic Name</label>
        			<div class="input">
        				<input type="text" name="topicname" id="topicname" class="xlarge" size="50"/>
        			</div>
        		</div>
				<div class="clearfix">
        			<label for="topicurl">Topic URL</label>
        			<div class="input">
        				<input type="text" name="topicurl" id="topicurl" class="xlarge" size="50"/>
        			</div>
        		</div>
        		<div class="clearfix">
        			<label for="topicprefix">Topic Prefix</label>
        			<div class="input">
        				<input type="text" name="topicprefix" id="topicprefix" class="xlarge" size="50"/>
        			</div>
        		</div>

        		<h3>Additional Configuration</h3>
        		<div class="clearfix">
        			<label for="period">Period (in seconds)</label>
        			<div class="input">
        				<input type="text" name="period" id="period" class="xlarge" size="50"/>
        			</div>
        		</div>
        		
	    		<div class="actions">
        			<input class="btn primary" type="submit" value="Create" />
        			&nbsp;
        			<button type="reset" class="btn">Cancel</button>
        		</div>
        </fieldset>
#{/form}